// breakpoint to align with bootstrap
$breakpoint: 576px;

@mixin animation($animations) {
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(blink) {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
}

body {
  font-size: 16px;
  line-height: 1;
}
.wrapper {
  max-width: 700px;
}
.countdown {
  font-size: 10vw;
  @media screen and (min-width: $breakpoint) {
    font-size: 4rem;
  }
}
.loading-message {
  opacity: 0.3;
  @include animation(blink 1s infinite);  
}